{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'occasion.css' %}">
    <title>Occasion</title>
</head>
<body>
    <img>
    <h1>Select any Occasion</h1>
    <div class="container">
        <div class="card1"><a href="wed"><img class="responsive" src="/static/images/wedding.jpeg" alt="Wedding" id="wed"></a></div>
        <div class="card2"><a href="gather"><img class="responsive" src="/static/images/fest.jpeg" alt="Gathering/Festival" id="fest"></a></div>
        <div class="card3"><a href="bday"><img class="responsive" src="/static/images/bday.jpeg" alt="Birthday" id="bday"></a></div>
    </div>
</body>
</html>