{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="{% static 'tempw.css' %}">
</head>

<body>
    <img>
    <h1>Select any Template</h1>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                {% for i in images %}
                    <input type="radio" value="{{i.pic_url}}" name="pic" id="{{i.pic_url}}">
                    <label for="{{i.pic_url}}"><img src="{{i.pic.url}}" alt="Wedding" class="imgs"></label>
                {% endfor %} 
                <input type="submit" value="Next" id="next">
            </div>
        </form>
    </div>
</body>
</html>
